<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Завдання користувача</title>
<link rel="stylesheet" href="/css/play.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
</head>
<body>

<header>
    <div class="level-info">
        <div>
            <div>Рівень: <span id="userLevel" th:text="${lvl}">1</span></div>
            <progress class="progress-bar " id="experienceProgress" style="width: 100%; height: 20px; border-radius: 8px;" th:max="${needexp}" th:value="${exp}"></progress>
            <div>Досвід: <span id="userExperience" th:text="${exp}">0</span> / <span id="xpToNextLevel" th:text="${needexp}">100</span>
            </div>
        </div>
    </div>
    <div class="fav-cont">
        <a class="btn btn-logout" href="/logout"><i class="fa-solid fa-right-to-bracket"></i></a>
        <a class="btn btn-favs" href="/play/favs"><i class="fa-solid fa-heart"></i></a>
    </div>
</header>

<div class="buttons">
    <div class="card" id="missionCard">
        <h2 id="missionTitle" th:text="${mission.getMission()}">Завантаження</h2>
    </div>
    <div style="justify-content: space-around; display: flex; flex-wrap: wrap; max-width: 360px;">
        <a class="btn btn-skip" href="/play" id="skipMissionBtn" title="Пропустити">
            <i class="fas fa-forward"></i>
        </a>
        <a class="btn btn-favorite" id="favoriteMissionBtn" th:href="'/play/fav/'+${mission.id}" title="В обране">
            <i class="fa-solid fa-heart"></i>
        </a>
        <a class="btn btn-complete" id="completeMissionBtn" th:href="'/play/comp'" title="Виконано">
            <i class="fas fa-check-circle"></i>
        </a>

    </div>

</div>


</body>
</html>
